body{
    background-color: rgb(0, 30, 60) !important;
}
.mainNavbar
{
    position: sticky;
    backdrop-filter: blur(20px);
    box-shadow: rgb(19 47 76) 0px -1px 1px inset !important;
    background-color: rgba(10, 25, 41, 0.72) !important;
    
    /* for light mode */
    
     
    /* backdrop-filter: blur(20px) !important;
    box-shadow: inset 0px -1px 1px #e7ebf0 !important;
    background-color: rgba(255,255,255,0.72) !important; */
   
}

h1{
    color:#fff;
}
.mat-ripple-element {
    display: none;
}
.searchBar
{
    width: 200px;
    height: 34px;
    -webkit-box-align: center !important;
    align-items: center !important;
    padding: 8px !important;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative !important;
    background-color: rgb(10, 25, 41) !important;
    font-size: 0.875rem;
    border: 1px solid rgb(19, 47, 76) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition-property: all;
    transition-duration: 150ms;
    margin-right: 15px !important;
/* 
    background-color: rgb(243, 246, 249);
    color: rgb(62, 80, 96);
    font-size: 0.875rem;
    border: 1px solid rgb(224, 227, 231); */
}
.searchBar span
{
    margin-left: 8px;
    margin-right: auto;
    color: rgb(178, 186, 194);
}
.MenuButton{
            box-sizing: border-box;
            background-color: transparent;
            margin: 0px 5px !important;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            text-align: center;
            padding:8px 0px !important;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
            border: 1px solid rgb(19, 47, 76) !important;
            border-radius: 10px !important;
            color: rgb(102, 178, 255) !important;
            height:34px !important;
            width:34px !important;
            min-width:38px !important;
}
.MobileNavList
{
    position:fixed !important;
    width:100%;
    top:55px;
    height:0px !important;
    overflow: hidden;
    background:rgb(10, 25, 41);
    color:#fff;
    padding:0px 10px !important;
    transition:height 0.5s,padding 0.5s;
}
.MobileNavList.active
{
    padding:20px 10px !important;
    height:100vh !important;
    transition:height 0.5s,padding 0.5s;
}